/*reglas
selectores
declaraciones
propiedades
valores*/

header
{
  background: #000000;
  color: white
}
/*selector de etiqueta, header - section - article - nav */
/*selector descendente*/
/*body header div nav ol li a */

/*selector de clase .*/

/* .link */

/*selector de id*/
/*#portafolio*/
body
{
  font-family: 'Source Sans Pro', sans-serif;
}
h1,
h2,
h3,
h4,
h5,
h6{
  font-family: 'Fjalla One', sans-serif;
  font-weight: 400;
  /*font-style: italic;*/
}

h1
{
  font-size: 35px;
  line-height: 1.5em;
  letter-spacing: -.2px;
  color: white;

  /*text-transform: uppercase;
  text-decoration: dashed;*/
}

.hero
{
  height: 300px;
  background-image: url('../imagenes/photojuan.jpg');
  background-color: #000000;
  background-size: 500px 300px;
  background-repeat: no-repeat;
  background-position-x: right;
}
.hero-strong
{
  color: #199389;
}
.project-details
{
  width: 500px;
}
.project
{
  width: 500px;
}
.header
{
  background-color: #000000;
  color: white;
}
.header a
{
  color: white;
  text-decoration: none;
}
